NODE_ENV=development

PORT=3000

JWT_ACCESS_SECRET="JWT_ACCESS_SECRET"
JWT_REFRESH_SECRET="JWT_REFRESH_SECRET"
JWT_ACCESS_EXPIRATION=1h
JWT_REFRESH_EXPIRATION=7d

DATABASE_HOST=postgres
DATABASE_PORT=5432
POSTGRES_USER="POSTGRES_USER"
POSTGRES_PASSWORD="POSTGRES_PASSWORD"
POSTGRES_DATABASE="POSTGRES_DATABASE"

REDIS_HOST=redis
REDIS_PORT=6379
