services:
  users-worker:
    image: ${ECR_REPO_URL}:latest
    container_name: cloud-file-manager-backend-users-worker
    restart: always
    env_file:
      - ./.env
    environment:
      - MODE=users-worker
      - PORT=3000
      - NODE_ENV=production
    logging:
      driver: "awslogs"
      options:
        awslogs-region: "${AWS_REGION}"
        awslogs-group: "${LOG_GROUP_NAME}"
        awslogs-stream: "users-worker"

  files-worker:
    image: ${ECR_REPO_URL}:latest
    container_name: cloud-file-manager-backend-files-worker
    restart: always
    env_file:
      - ./.env
    environment:
      - MODE=files-worker
      - PORT=3001
      - NODE_ENV=production
    logging:
      driver: "awslogs"
      options:
        awslogs-region: "${AWS_REGION}"
        awslogs-group: "${LOG_GROUP_NAME}"
        awslogs-stream: "files-worker"
