name: "Terraform CI/CD"

on:
  push:
    branches:
      - dev

permissions:
  contents: read
  id-token: write

jobs:
  terraform-ecr:
    name: "Terraform ECR"
    runs-on: ubuntu-latest
    outputs:
      ecr_repository_url: ${{ steps.output.outputs.ecr_repository_url }}
    steps:
      # Your steps to create ECR and set output
      - name: Set ECR Output
        id: output
        run: echo "ecr_repository_url=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/cloud-file-manager-backend" >> $GITHUB_OUTPUT

  build-and-push-docker:
    name: "Build and Push Docker Image"
    needs: terraform-ecr
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-role
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: "${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/cloud-file-manager-backend"
          IMAGE_TAG: latest
        run: |
          cd cloud-file-manager-backend
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG -f Dockerfile .
          docker push $ECR_REPOSITORY:$IMAGE_TAG

  terraform-outputs:
    name: "Terraform Outputs"
    needs: build-and-push-docker
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform
    outputs:
      application_url: ${{ steps.output.outputs.application_url }}
      instance_ids: ${{ steps.output.outputs.instance_ids }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-role
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5
      - name: Terraform Init
        run: \
          terraform init \
          -backend-config="bucket=${{ secrets.PROJECT_NAME }}-${{ secrets.ENVIRONMENT }}-terraform-state" \
          -backend-config="key=${{ secrets.PROJECT_NAME }}/${{ secrets.ENVIRONMENT }}/terraform.tfstate" \
          -backend-config="region=${{ secrets.AWS_REGION }}" \
          -backend-config="dynamodb_table=${{ secrets.PROJECT_NAME }}-${{ secrets.ENVIRONMENT }}-terraform-locks"
      - name: Set Terraform Outputs
        id: output
        run: |
          echo "application_url=$(terraform output -raw application_url)" >> $GITHUB_OUTPUT
          echo "instance_ids=$(terraform output -json instance_ids)" >> $GITHUB_OUTPUT

  deploy-to-ec2:
    name: "Deploy to EC2"
    needs: terraform-outputs
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-role
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Download ECR Repository URL Artifact
        uses: actions/download-artifact@v4
        with:
          name: ecr-repository-url
      - name: Get ECR Repository URL
        id: get_ecr_url
        run: echo "ECR_REPO_URL=$(cat ecr_repository_url.txt)" >> $GITHUB_OUTPUT
      - name: Run SSM Command to Update and Restart Containers
        uses: aws-actions/aws-ssm-run-command@v1
        with:
          instance-ids: ${{ needs.terraform-outputs.outputs.instance_ids }}
          document-name: AWS-RunShellScript
          comment: "Update Docker image and restart containers"
          parameters: |
            commands:
              - "sudo docker pull ${{ steps.get_ecr_url.outputs.ECR_REPO_URL }}:latest"
              - "sudo docker-compose -f /home/ec2-user/docker-compose.api.yaml pull"
              - "sudo docker-compose -f /home/ec2-user/docker-compose.api.yaml up -d --remove-orphans"
              - "sudo docker-compose -f /home/ec2-user/docker-compose.workers.yaml pull"
              - "sudo docker-compose -f /home/ec2-user/docker-compose.workers.yaml up -d --remove-orphans"
