name: "Terraform CI/CD"

on:
  push:
    branches:
      - dev

permissions:
  contents: read
  id-token: write

jobs:
  build-and-push-docker:
    name: "Build and Push Docker Image"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-role
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REPOSITORY: "${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/cloud-file-manager-backend"
          IMAGE_TAG: latest
        run: |
          cd cloud-file-manager-backend
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG -f Dockerfile .
          docker push $ECR_REPOSITORY:$IMAGE_TAG

  deploy-to-ec2:
    name: "Deploy to EC2"
    needs: build-and-push-docker
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-role
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Get ECR Repository URL
        id: get_ecr_url
        run: echo "ECR_REPO_URL=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/cloud-file-manager-backend" >> $GITHUB_OUTPUT

      - name: Get EC2 Instance IDs
        id: get_instance_ids
        run: |
          INSTANCE_IDS=$(aws ec2 describe-instances \
            --filters "Name=tag:Project,Values=${{ secrets.PROJECT_NAME }}*" \
                      "Name=tag:Environment,Values=${{ secrets.ENVIRONMENT }}" \
                      "Name=instance-state-name,Values=running" \
            --query "Reservations[*].Instances[*].InstanceId" \
            --output text \
            --region ${{ secrets.AWS_REGION }})

          echo "Retrieved Instance IDs: $INSTANCE_IDS"

          {
            echo "instance_ids<<EOF"
            echo "$INSTANCE_IDS"
            echo "EOF"
          } >> "$GITHUB_OUTPUT"

      - name: Run SSM Command to Update and Restart Containers
        run: |
          INSTANCE_IDS_ARRAY=(${{ steps.get_instance_ids.outputs.instance_ids }})
          COMMAND_ID=$(aws ssm send-command \
            --instance-ids ${INSTANCE_IDS_ARRAY[@]} \
            --document-name AWS-RunShellScript \
            --comment "Update Docker image and restart containers" \
            --parameters commands="[\"sudo docker pull ${{ steps.get_ecr_url.outputs.ECR_REPO_URL }}:latest\", \"sudo /usr/local/bin/docker-compose -f /home/ec2-user/docker-compose.api.yaml pull\", \"sudo /usr/local/bin/docker-compose -f /home/ec2-user/docker-compose.api.yaml up -d --remove-orphans\", \"sudo /usr/local/bin/docker-compose -f /home/ec2-user/docker-compose.workers.yaml pull\", \"sudo /usr/local/bin/docker-compose -f /home/ec2-user/docker-compose.workers.yaml up -d --remove-orphans\"]" \
            --region ${{ secrets.AWS_REGION }} \
            --query "Command.CommandId" --output text)
          
          echo "SSM Command ID: $COMMAND_ID"
          
          echo "Waiting for command to execute..."
          sleep 30 # Wait for 30 seconds to allow command to execute
          
          echo "Retrieving SSM Command Output..."
          COMMAND_OUTPUT=$(aws ssm get-command-invocation \
            --command-id $COMMAND_ID \
            --instance-id ${INSTANCE_IDS_ARRAY[0]} \
            --query "StandardOutputContent" --output text \
            --region ${{ secrets.AWS_REGION }})
          
          echo "Standard Output:"
          echo "$COMMAND_OUTPUT"
          
          echo "Retrieving SSM Command Error Output..."
          COMMAND_ERROR_OUTPUT=$(aws ssm get-command-invocation \
            --command-id $COMMAND_ID \
            --instance-id ${INSTANCE_IDS_ARRAY[0]} \
            --query "StandardErrorContent" --output text \
            --region ${{ secrets.AWS_REGION }})
          
          echo "Standard Error:"
          echo "$COMMAND_ERROR_OUTPUT"
          
          COMMAND_STATUS=$(aws ssm get-command-invocation \
            --command-id $COMMAND_ID \
            --instance-id ${INSTANCE_IDS_ARRAY[0]} \
            --query "Status" --output text \
            --region ${{ secrets.AWS_REGION }})
          
          echo "SSM Command Status: $COMMAND_STATUS"
          
          if [ "$COMMAND_STATUS" != "Success" ]; then
            echo "Error: SSM Command failed on instance ${INSTANCE_IDS_ARRAY[0]}."
            exit 1
          fi
          
          echo "SSM Command completed successfully."
